script
	//mixpanel.track("Add Point")
style
	.select2-choices { font-weight: 600; height: 38px!important; outline: none; border: 2px #c0c2c7 solid!important; border-radius: 3px; border-style: solid; background: #fff; appearance: normal; -moz-appearance: none; -webkit-appearance: none;  }
	.select2-search-field input {font-family: 'Open Sans', sans-serif!important; font-size: 13px!important; padding: 10px!important;} 
	.select2-container-multi .select2-choices .select2-search-choice { padding: 5px 5px 5px 18px!important; margin: 7px 0 3px 5px!important; }
	.callout-info:before {
		font-size: 2.5em;
		font-family: 'FontAwesome';
		content: "\f129";
	}
	.noBefore::before{ content: ''; }
	.modal-content{ background-color: #82b964; }
	.modal-header{ color: #fff; }
	.modal-body{ background-color: #fff; }
	.modal-footer{ background-color: #fff; margin-top: 0px; }

include sidebarData

div.content-wrapper(ng-controller="DemoAddPointController")
	div.breadcrumb.clearfix
		ul
			li
				a(href='/data/{{pid}}', id='allPointsButton') All points ({{numOfPoints}})
			li.active Add Point...
	div#powerwidgets.row
		div.col-md-6.bootstrap-grid
			#point-image.powerwidget.powerwidget-as-portlet.powerwidget-as-portlet-green.powerwidget-sortable(data-widget-editbutton='false',role='widget')
				header
						h2 
							| Map
							small Click on the map to choose a location
				div.inner-spacer.nopadding
					div
						div#map
							leaflet(center="madeira",height="550",markers="markers",layers="layers")
		//- div.col-md-6.bootstrap-grid
		//- 	#point-image.powerwidget.powerwidget-as-portlet.orange.powerwidget-sortable(data-widget-editbutton='false',role='widget')
		//- 		header
		//- 				h2 Points from Spreadsheet
		//- 		div.inner-spacer
		//- 			div.row
		//- 				div.col-md-12
		//- 					.callout.callout-info.callout-info-new-icon(style='background: white; margin-bottom: 0px;border-color: white;')
		//- 						h4 Insert your points (multiple or single)
		//- 						h6.lead(style='font-size: 16px;') Insert a collection of points from a spreadsheet (press Add Spreadsheet) or insert only one point (click on the map and fill the form below).
		//- 			a.btn.btn-info(data-toggle='modal', target='_self', href='#myModal') Add Spreadsheet
		//- 			.orb-form
		//- 				.note {{ongoingAddMessage}}
		//- 			#myModal.modal(ng-controller='ModalSpreadsheetCtrl')
		//- 				.modal-dialog.modal-lg
		//- 					.modal-content
		//- 						.modal-header
		//- 							button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
		//- 							h4.modal-title Insert points from spreadsheet
		//- 						.modal-body
		//- 							p Copy your points from a spreadsheet and paste them here. 
		//- 								a(href='misc/template-points.xlsx', target='_self') Download and use our template
		//- 								|  to follow our format (instructions inside).
		//- 							p: textarea(placeholder='Latitude	Longitude	Place	Type	Attribute1	Attribute2	Attribute3 ...', ng-model='sentence',rows='10', style='width:100%;')
		//- 						.modal-footer
		//- 							a.btn(href='#', target='_self', data-dismiss='modal', style='color: #82b964;') Close
		//- 							a.btn.btn-success(style='{{addPointsButtonStyle}}', href='#', target='_self', ng-click='saveSpreadsheet()') Add points
		//- 							a.btn.btn-danger(style='{{cancelAddPointsButtonStyle}}', href='#', target='_self', ng-click='cancelAddSpreadsheet()') Cancel
		//- 							p(style='{{addMessageStyle}};margin-top:10px;') {{addMessage}}
		//- 							p(style='{{addMessageStyle2}};margin-top:10px;') {{addMessage2}}
		//- 			script
		//- 				//- setTimeout(function() {
		//- 				//- 	var str = $('#allPointsButton').text();
		//- 				//- 	//- console.log("points "+str);
		//- 				//- 	if(str == "All points (0)")
		//- 				//- 		$('#myModal').modal({show:true});
		//- 				//- }, 1000);

		//- 				function checkNumPointsAndActivateModal() {
		//- 					var str = $('#allPointsButton').text();
		//- 					console.log("points "+str);
		//- 					if(str == "All points (0)")
		//- 						$('#myModal').modal({show:true});
		//- 					else if(str == "All points ({{numOfPoints}})" || str == "All points ()")
		//- 						setTimeout(checkNumPointsAndActivateModal, 500);
		//- 				}

		//- 				setTimeout(checkNumPointsAndActivateModal, 500);
						
		//- 				$('#openBtn').click(function(){
		//- 					$('#myModal').modal({show:true});
		//- 				});
		div.col-md-6.bootstrap-grid
			#point-image.powerwidget.powerwidget-as-portlet.orange.powerwidget-sortable(data-widget-editbutton='false',role='widget')
				header
						h2 Add Point to Project {{pid}}
				div.inner-spacer
					form#input-masking.orb-form(class='{{addForm}}')
						fieldset
							section
								label.label Type
								label.input
									i.icon-append.fa.fa-star-o
									input#template(type="hidden", ui-select2="select2Options", data-placeholder="Click and choose a point type or input a new one and press enter", ng-model="addForm.template", style="width: 100%;")
									//- select(ui-select2, ng-model="addForm.template", data-placeholder="Pick a number", ng-required="true", style='width:100%!important;')
									//- 	option(value='')
									//- 	option(value='1') Fountain
									//- 	option(value='2') Lake

									//- select.form-control(ng-model="addForm.template", ng-options="item as item.title for item in itemsPointTemplates", ng-change="onDropdownChange()")
									//- //- select(ng-model="form", ng-options="item as item.title for item in items")
									//- //- select(ng-model="selectedItem", ng-options="item as item.title for item in items")
									//- i
							//- section(ng-hide="addForm.template.length")
							//- 	label.label Point Attributes
							//- 	div.note No attributes to show. Select a point type above or insert a new one.
							//- section(ng-show="addForm.template.length")
							section
								label.label Name
								label.input
									i.icon-append.fa.fa-star-o
									input#date2(placeholder='A name for the point, e.g. "Fonte do Norte"', name='name', ng-model='addForm.attributes.name', value='')
							//- section(ng-show="addForm.template.length")
							//- 	label.label Observations
							//- 	label.input
							//- 		i.icon-append.fa.fa-tachometer
							//- 		input#phone(placeholder='Miscellaneous information of the point', name='observations', ng-model='addForm.attributes.observations', value='')
									//- input#phone(placeholder='Value', name='value', ng-model='addForm.value')
							section(ng-repeat='param in parameters')
								label.label {{param}}
								label.input
									i.icon-append.fa.fa-tachometer
									input#phone(placeholder='Value for {{param}}', name='{{param}}', ng-model='models[param]')
						//- fieldset(ng-show="addForm.template.length")
						fieldset
							section(style='margin-top: 10px;')
								//- label.label Add new attribute
								label.input
									.input-group
										input#users.form-control(type='text', placeholder='New attribute name', ng-model='newAttr')
										span.input-group-btn
											button.btn.btn-default(type='button', ng-click='addAttribute()')
												i.fa.fa-plus
												|  Add attribute 
							button.btn.btn-success(ng-click='submitNewPoint()') Add Point
							p(style='{{lastAddedMsgStyle}}margin-top:15px;') {{lastAddedMsg}}
						//- pre {{models | json}}
						//- fieldset
						//- 	section
						//- 		//- label.label Inherit Indicators
						//- 		label.label Select indicators and parameters from project?
						//- 		.margin-left
						//- 			.inline-group
						//- 				label.radio
						//- 					input(type='radio', name='radio-inline', value='yes', ng-model='addForm.autoIndicators', checked)
						//- 					i
						//- 					| Yes
						//- 				label.radio
						//- 					input(type='radio', name='radio-inline', value='no', ng-model='addForm.autoIndicators')
						//- 					i
						//- 					| No
						//- 	section(ng-show="addForm.autoIndicators == 'yes'")
						//- 		label.label Indicators from Project
						//- 		.margin-left
						//- 			.inline-group
						//- 				span(ng-repeat="indicator in indicators")
						//- 					label.checkbox(for='{{indicator.iid}}')
						//- 						input(type='checkbox', name='checkbox-inline', checked='',ng-model='addForm.indicators[indicator.iid]', id='{{indicator.iid}}')
						//- 						i
						//- 						| {{indicator.title}}

							//- p {{form}}
							//- p {{selectedItem}}
							//- button.btn.btn-success(ng-click='submitNewPoint()') Add Point
							//- p(style='{{lastAddedMsgStyle}}margin-top:15px;') {{lastAddedMsg}}
					p: a(href='/dashboard/{{pid}}') Back
