include leftMenu
script
  //mixpanel.track("ChangePassword")
div.content-wrapper.no-left-navigation
  div.breadcrumb.clearfix
    ul
      li
        a(href='/')
          i.fa.fa-home.fa-2x
      li.active Change Password

  div#powerwidgets.row
    div.col-md-6.bootstrap-grid.sortable-grid.ui-sortable
      #point-image.powerwidget.powerwidget-as-portlet.blue.powerwidget-sortable(data-widget-editbutton='false',role='widget')
        header
          h2 Change Password
        div(role='content')
          div.inner-spacer
            form#input-masking.orb-form(class='{{addForm}}')
              fieldset
                section
                  label.label Old
                  label.input
                    i.icon-append.fa.fa-star-o
                    input#date2(placeholder='Input your old password', type='password', name='old_pass', ng-model='form.old_pass')
              fieldset
                section
                  label.label New
                  label.input
                    i.icon-append.fa.fa-star-o
                    input#date2(placeholder='Now, input the new password', type='password', name='new_pass', ng-model='form.new_pass')
                section
                  label.label Confirm
                  label.input
                    i.icon-append.fa.fa-star-o
                    input#date2(placeholder='Finally, input the new password again', type='password', name='repeat_new_pass', ng-model='form.repeat_new_pass')
                
                button.btn.btn-default(ng-click='changePassword()') Change
                p(style='{{lastAddedMsgStyle}} margin-top:15px;') {{lastAddedMsg}}
              a(href='/projects') Back to Projects