script
	//mixpanel.track("Edit Indicator")

include sidebarData

div.content-wrapper
	div.breadcrumb.clearfix
		ul
			li
				a(href='/data/{{pid}}') All points
			li
				a(href='/data/{{pid}}/{{pointid}}') {{pointname}}
			li.active Edit Indicator...
	div#powerwidgets.row
		div.col-md-12.bootstrap-grid(ng-controller="DemoController")
			#point-image.powerwidget.powerwidget-as-portlet.orange.powerwidget-sortable(data-widget-editbutton='false',role='widget')
				header
						h2 Edit Indicator Data
				div.inner-spacer
					form#input-masking.orb-form(class='{{addForm}}')
						fieldset
							section
								label.label Title
								label.input
									i.icon-append.fa.fa-star-o
									input#date2(placeholder='Title', name='title', ng-model='form.title')
							section
								label.label Start Value
								label.input
									i.icon-append.fa.fa-tachometer
									input#phone(placeholder='Value', name='value', ng-model='form.value')
							section
								label.label Unit
								label.input
									i.icon-append.fa.fa-money
									input#card(placeholder='Unit', name='unit', ng-model='form.unit')
							//- GM-2#5
							section
								label.label Aggregation Method
								label.input
									i.icon-append.fa.fa-money
									input#card(placeholder='Aggregation Method', name='aggrmethod', ng-model='form.aggrmethod')
							section
								label.label Alarm
								.margin-left
									.inline-group
										label.radio
											input(type='radio', name='radio-inline', value='no', ng-model='form.alarm', checked)
											i
											| No
										label.radio
											input(type='radio', name='radio-inline', value='yes', ng-model='form.alarm')
											i
											| Yes
								//- label.input
								//- 	//- i.icon-append.fa.fa-crosshairs
								//- 	i.icon-append.fa.fa-bell-o
								//- 	input#serial(placeholder='Alarm', name='alarm', ng-model='form.alarm')
							section(ng-show="form.alarm == 'yes'")
								label.label Minimum Value
								label.input
									i.icon-append.fa.fa-money
									input#card(placeholder='Minimum Value', name='min', ng-model='form.min')
							section(ng-show="form.alarm == 'yes'")
								label.label Maximum Value
								label.input
									i.icon-append.fa.fa-money
									input#card(placeholder='Maximum Value', name='max', ng-model='form.max')
							section.overflow-hidden(ng-show="form.alarm == 'no'")
								label.label Minimum Value
								label.input
									i.icon-append.fa.fa-money
									input#card(placeholder='Minimum Value', name='min', ng-model='form.min')
							section.overflow-hidden(ng-show="form.alarm == 'no'")
								label.label Maximum Value
								label.input
									i.icon-append.fa.fa-money
									input#card(placeholder='Maximum Value', name='max', ng-model='form.max')
							section(ng-show="form.alarm == 'yes'")
								label.label Occurrence Type
								label.select
									//- i.icon-append.fa.fa-money
									//- input#card(placeholder='Occurrence Type', name='occ', ng-model='form.occ')
									select(ng-model="form.occ", ng-options="type.occtype_title for type in occtypes")
									i
							
							button.btn.btn-default(ng-click='editIndicator()') Edit Indicator
							p(style='{{lastAddedMsgStyle}};margin-top:15px;') {{lastAddedMsg}}
					p: a(href='/data/{{pid}}/{{pointid}}') Back
