//- h2 Home
//- ul.breadcrumb
//-   li
//-     a(href='') Home
    
h1(style='text-align:center;margin-bottom:25px;') Welcome to Earthindicators, {{username}}!
div
    ul.menuItem.menuItemLarge
        li.listItem.listItemLarge
            a(href='/projects') 
                div.innerItem.innerItemBig
                    p.innerItemBigParagraph Projects
        li.listItem.listItemLarge
            a(href='/addReading')
                div.innerItem.innerItemBig
                    p.innerItemBigParagraph Add a Reading