script
	//mixpanel.track("IndicatorPoint")
style
	.noBefore::before{ content: ''; }

include sidebarData

div.content-wrapper
	div.breadcrumb.clearfix
		ul
			//- li
			//- 	a(href='/data/{{pid}}')
			//- 		i.entypo-book-open.fa-2x
			//- //- li
			//- //- 	a(href='/projects') Projects
			//- //- li
			//- //- 	a(href='/dashboard/{{pid}}') Dashboard
			li
				a(href='/data/{{pid}}') All points
			li
				a(href='/dashboard/{{pid}}/{{pointid}}') Point {{pointid}}
			li.active Indicator {{indicator.title}}
	//- div.page-header
	//- 	h1 Indicator
	//- 		small {{indicator.title}}
	div#powerwidgets.row
		//- div.col-md-4.bootstrap-grid
		//- 	#point-image.powerwidget.powerwidget-as-portlet.powerwidget-as-portlet-yellow.powerwidget-sortable(data-widget-editbutton='false')
		//- 		header
		//- 				h2
		//- 					| Picture
		//- 					small Point {{pointid}}
		//- 				.powerwidget-ctrls(role='menu')
		//- 					//- a.button-icon.powerwidget-delete-btn(href='#',eat-click)
		//- 					//- 	i.fa.fa-share-alt
		//- 					//- a.button-icon.powerwidget-delete-btn(href='#',eat-click)
		//- 					//- 	i.fa.fa-times-circle
		//- 					//- a.button-icon.powerwidget-fullscreen-btn(href='#',eat-click)
		//- 					//- 	i.fa.fa-arrows-alt
		//- 					//- a.button-icon.powerwidget-toggle-btn(href='#',eat-click)
		//- 					//- 	i.fa.fa-chevron-circle-up
		//- 				span.powerwidget-loader
		//- 		div.inner-spacer.nopadding
		//- 			img(src='pics/saotome.jpg',style='width:100%;height:150px;')

		div.col-md-4.bootstrap-grid
			#point-image.powerwidget.powerwidget-as-portlet.powerwidget-as-portlet-green.powerwidget-sortable(data-widget-editbutton='false',role='widget')
				header
						h2
							| Map
							small Point {{pointid}}
						//- .powerwidget-ctrls(role='menu')
						//- 	a.button-icon.powerwidget-delete-btn(href='#',eat-click)
						//- 		i.fa.fa-share-alt
						//- 	a.button-icon.powerwidget-delete-btn(href='#',eat-click)
						//- 		i.fa.fa-times-circle
						//- 	a.button-icon.powerwidget-fullscreen-btn(href='#',eat-click)
						//- 		i.fa.fa-arrows-alt
						//- 	a.button-icon.powerwidget-toggle-btn(href='#',eat-click)
						//- 		i.fa.fa-chevron-circle-up
						span.powerwidget-loader
				div.inner-spacer.nopadding
					div#map(ng-controller="DemoController")
						//- leaflet(center="madeira",width="450",height="400",markers="markers")
						leaflet(center="madeira",height="550",markers="markers",layers="layers")
		div.col-md-8.bootstrap-grid
			#chartjsgraphs-index-2.powerwidget.dark-blue.powerwidget-sortable(data-widget-editbutton='false', role='widget', style='')
				header(role='heading')
						h2
							| {{indicator.title}}
							small Point {{pointid}}
						.powerwidget-ctrls(role='menu')
							a.button-icon.powerwidget-delete-btn(href='#',target='_self',eat-click)
								i.fa.fa-share-alt.fa-lg(style='margin-right: 5px;')
							a.button-icon.powerwidget-edit-btn(ng-click='toggleShowReadingsForm()', href='#',target='_self',eat-click)
								i.fa.fa-lg(class='{{iconConfig}}')
								//- i.fa.fa-upload.fa-lg
							//- a.button-icon.powerwidget-delete-btn(href='#',eat-click)
							//- 	i.fa.fa-times-circle
							//- a.button-icon.powerwidget-fullscreen-btn(href='#',eat-click)
							//- 	i.fa.fa-arrows-alt
							//- a.button-icon.powerwidget-toggle-btn(href='#',eat-click)
							//- 	i.fa.fa-chevron-circle-up
						span.powerwidget-loader
					div(role='content', style='min-height: 150px;')
						.powerwidget-editbox(class='{{readingsFormClass}}')
							ul.nav.nav-tabs
								li.active
									a(href='#one-normal', target='_self', data-toggle='tab')
										i.entypo-droplet
										|  Add single reading
								li
									a(href='#two-normal', target='_self', data-toggle='tab')
										i.entypo-water
										|  Add multiple readings
							.tab-content
								#one-normal.tab-pane.active
									p: input(placeholder='Input one value', type='text', ng-model='readingForm.value')
									p: input(placeholder='Date', type='date', ng-model='readingForm.timestamp')
									p: button(ng-click='submitNewPointReading()') Add
								#two-normal.tab-pane
									p: textarea(placeholder='Paste values from Excel. The required format of each row is 2 columns with Date and Value. Example: 15/05/2014	23', ng-model='sentence',rows='10', style='width:85%;')
									p: button(ng-click='submitNewPointMultipleReadings()') Add
						.inner-spacer
							.row
								.col-md-12.text-center
									//- div.semaphoreChart
									//- 	svg(width="150px", height="60px")
									//- 		path(d="M 1 1 L 149 1 L 149 59 L 1 59 L 1 1", 
									//- 			stroke="rgba(170, 170, 51, 0.5)", fill="#ee9", 
									//- 			stroke-width="1")
									//- 		circle(style='stroke-width:5;stroke:rgba(55,55,55,0.25)', cx="40", cy="30", r="20", fill="grey")
									//- 		circle(style='stroke-width:5;stroke:rgba(55,255,55,0.25)', cx="110", cy="30", r="20", fill="green")
									h1.colossal
										i.fa.fa-tachometer(style='color:#c4c5c5;')
										|  {{indicator.value}}
										small {{indicator.unit}}
										i.fa.fa-caret-up(style='color:#82b964;')
								.col-md-4.col-sm-4.col-xs-4.text-center.margin-bottom(ng-repeat='parameter in parameters|limitTo:3')
									h3.margin-0px.margin-top(style='margin-bottom:5px!important;') {{parameter.value}}
										small {{parameter.unit}}
									span.label.bg-red(style='font-size:12px;')
										strong {{parameter.title}}
										i.fa.fa-chevron-circle-down
								//- .col-md-4.col-sm-4.col-xs-4.text-center
								//- 	h3.margin-0px.margin-top 8
								//- 	span.label.bg-orange
								//- 		strong Coliphorms 
								//- 		i.fa.fa-chevron-circle-up
								//- .col-md-4.col-sm-4.col-xs-4.text-center
								//- 	h3.margin-0px.margin-top 5523
								//- 	span.label.bg-purple
								//- 		strong Female
								//- 		i.fa.fa-chevron-circle-up
								//- .col-md-4.col-sm-4.col-xs-4.text-center.margin-bottom-20px
								//- 	h3.margin-0px.margin-top 8943
								//- 	span.label.bg-red
								//- 		strong Aliens
								//- 		i.fa.fa-chevron-circle-up
		
		div.col-md-8.bootstrap-grid
			#point-image.powerwidget.powerwidget-as-portlet.orange.powerwidget-sortable(data-widget-editbutton='false',role='widget',ng-controller="ExamplePointCtrl")
				header
					h2
						| {{parameter.title}} History
						small Point {{pointid}}
					.powerwidget-ctrls(role='menu')
						a.button-icon.powerwidget-edit-btn(href='readings/{{pid}}/{{iid}}/{{pointid}}')
							i.fa.fa-lg.fa-pencil
						a.button-icon.powerwidget-refresh-btn(ng-click='refreshChart()',href='#',target='_self',eat-click)
							i.fa.fa-refresh.fa-lg
					//- .powerwidget-ctrls(role='menu')
					//- 	a.button-icon.powerwidget-delete-btn(href='#',eat-click)
					//- 			i.fa.fa-share-alt
					//- 	a.button-icon.powerwidget-delete-btn(href='#',eat-click)
					//- 		i.fa.fa-times-circle
					//- 	a.button-icon.powerwidget-fullscreen-btn(href='#',eat-click)
					//- 		i.fa.fa-arrows-alt
					//- 	a.button-icon.powerwidget-toggle-btn(href='#',eat-click)
					//- 		i.fa.fa-chevron-circle-up
					span.powerwidget-loader
				div.inner-spacer.text-center
					div(style='width:90%; height:200px; margin-left:auto; margin-right:auto;')
						//- nvd3-discrete-bar-chart(data="exampleDataRanking",ng-model="exampleDataRanking",color="colorFunction()",width='600', height='300',showXAxis="true",showYAxis="true",tooltips="true",interactive="true")
						nvd3-line-chart(data="exampleData",ng-model="exampleData",showXAxis="true",showYAxis="true",tooltips="true",interactive="true",xAxisTickFormat="xAxisTickFormatFunction()")

		div.col-md-3.bootstrap-grid(ng-repeat='parameter in parameters')
			div.powerwidget.blue(data-widget-editbutton='false',id='{{pid}}-{{iid}}-{{iid}}')
				header
						h2 {{parameter.title}}
						.powerwidget-ctrls(role='menu')
							//- a.button-icon.powerwidget-delete-btn(href='#',eat-click)
							//- 	i.fa.fa-share-alt
							a.button-icon.powerwidget-edit-btn(href='/editParameter/{{pid}}/{{iid}}/{{parameter.parmid}}/{{pointid}}')
								i.fa.fa-cog.fa-lg
							a.button-icon.powerwidget-delete-btn(ng-click='deleteParameter(parameter.parmid)', href='#', target='_self',eat-click)
								i.fa.fa-times-circle.fa-lg
							//- a.button-icon.powerwidget-fullscreen-btn(href='#',eat-click)
							//- 	i.fa.fa-arrows-alt
							//- a.button-icon.powerwidget-toggle-btn(href='#',eat-click)
							//- 	i.fa.fa-chevron-circle-up
						span.powerwidget-loader
				.inner-spacer
					.row
						.col-md-10.col-sm-10.col-xs-10
							h2
								| {{parameter.value}}
								small {{parameter.unit}}
						.col-md-2.col-sm-2.col-xs-2
							div.pull-right.pull-down
								//- a(href='/indicator/{{pid}}/{{indicator.iid}}/{{pointid}}') Open
								h2
									a(href='/parameter/{{pid}}/{{iid}}/{{parameter.parmid}}/{{pointid}}')
										i.fa.fa-folder-open
		div.col-md-3.bootstrap-grid
			div.powerwidget.powerwidget-as-portlet-white.text-center(data-widget-editbutton='false',id='{{pid}}-{{pointiid}}-{{pointiid}}')
				a.btn(href='/addParameter/{{pid}}/{{iid}}/{{pointid}}', style='width: 100%; padding-top: 18px; padding-bottom: 21px; border: 1px dashed #949fb2; background-color: #f0f0ed;')
					header	
					.inner-spacer(style='background-color: #f0f0ed;')
						h2
							small.noBefore(style='color: #949fb2; font-weight: normal;')
								i.fa.fa-plus-circle
								|  Add Parameter
			


					//- 	div.widgetContent
					//- 		h3.widgetTitle {{parameter.title}}
					//- 		div.line
					//- 			div.line-item.value {{parameter.value}}
					//- 			div.line-item.unit {{parameter.unit}}
					//- 		div.widgetChart(ng-controller='BulletCtrl')
					//- 			nvd3-bullet-chart(data='bulletData', width='100', height='10', showXAxis="false", margin="{left:5,top:0,bottom:0,right:5}", showYAxis="false", tooltips="true", interactive="false")
					//- 		div.line
					//- 			a(href='/parameter/{{pid}}/{{iid}}/{{parameter.pointparmid}}/{{pointid}}') Open
					//- li.item.item-to-add
					//- 	a(href='/addParameter/{{pid}}/{{iid}}/{{iid}}')
					//- 		div.widgetContent
					//- 			h3.widgetTitle Add Parameter

		//- div.col-md-12.bootstrap-grid
		//- 	#calendar-widget-index.powerwidget.blue(data-widget-editbutton='false')
		//- 		header
		//- 				h2
		//- 					| Calendar
		//- 					small Events
		//- 		.inner-spacer(ng-controller="CalendarCtrl")
		//- 			div.col-md-3.col-sm-3.col-xs-3.text-center
		//- 				div(class='{{viewForm}}')
		//- 					p toAddTitle: {{toAdd.title}}
		//- 					p toAddStart: {{toAdd.start}}
		//- 					p toAddEnd: {{toAdd.end}}
		//- 					p allDay: {{toAdd.allDay}}
		//- 					p toAddLocation: {{toAdd.location}}
		//- 					p toAddResponsible: {{toAdd.responsible}}
		//- 				div(class='{{addForm}}')
		//- 					p: input(placeholder='Title', name='title', ng-model='toAdd.title')
		//- 					p: input(placeholder='Start date', name='start', ng-model='toAdd.start')
		//- 					p: input(placeholder='Location', name='start', ng-model='toAdd.location')
		//- 					p: input(placeholder='Responsible', name='start', ng-model='toAdd.responsible')
		//- 					p: button(ng-click='addActivity()') Add
		//- 			div.col-md-9.col-sm-9.col-xs-9.text-center
		//- 				div(ui-calendar="uiConfig.calendar", ng-model='eventSources',calendar='myCalendar1')