//- .responsive-admin-menu
//-     .responsive-menu
//-         | Earthindicators
//-         .menuicon
//-           i.fa.fa-angle-down
//-       ul#menu(ng-controller="MenuCtrl")
//-         li
//-           a.active(href='/projects', title='Dashboard')
//-             i.entypo-briefcase
//-             span  All Projects
//-         li
//-           a(href='/alerts', title='Inbox')
//-             i.entypo-megaphone
//-             span
//-               |  Alerts
//-               span.badge(style='margin-left:5px;') {{alertsCount}}