div.wrap
	ul.breadcrumb
		li
			a(href='/') Home
		li
			a(href='/projects') Projects
		li
			a(href='/dashboard/{{pid}}') Dashboard
		li
			a(href='/indicator/{{pid}}/{{iid}}') Indicator
		li
			a(href='') Parameter
div.mainDiv
	div.leftDiv
		div.leftDivContent
			div.areaInfo
				div.leftInfoDiv
					img.thumbnail(src='pics/saotome.jpg')
				div.rightInfoDiv
					div
						h2(style='margin-left:25px;') São Tomé
					div
						div.leftBarDiv
							h4 124.455 inhabitants
						div.rightBarDiv
							h4 100 km2
			div#map(ng-controller="DemoOrderedPointsController")
				leaflet(center="madeira",width="450",height="400",markers="markers",layers="layers")
	div.rightDiv(ng-controller="ExampleCtrl")
		div.topCenteredButtons
			p: a(href='/parameter/{{pid}}/{{iid}}/{{parameter.parmid}}') Goals
			p History
		div(style='margin-top: 75px;text-align:center;')
			h4 Point ranking
		//- 	p Title: {{parameter.title}}
		//- 	p Value: {{parameter.value}}
		div(style='width:600px; margin-left:auto; margin-right:auto;')
			//- nvd3-line-chart(data="exampleData",ng-model="exampleData",width='600', height='300',showXAxis="true",showYAxis="true",tooltips="true",interactive="true")
			//- nvd3-discrete-bar-chart(data="exampleDataRanking",ng-model="exampleDataRanking",xAxisTickFormat="xAxisTickFormatFunction()",color="colorFunction()",width='600', height='300',showXAxis="true",showYAxis="true",tooltips="true",interactive="true")
			nvd3-discrete-bar-chart(data="exampleDataRanking",ng-model="exampleDataRanking",color="colorFunction()",width='600', height='300',showXAxis="true",showYAxis="true",tooltips="true",interactive="true")